
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-image: url(https://cdn.pixabay.com/photo/2014/11/17/18/10/gears-534991__340.jpg);
        opacity: 1;
        background-size: cover;
    }

    label {
        cursor: pointer;
    }
    .cabecalho{
        background-color: aquamarine;
        weight: 15px;
        width: 100%;
       
    }
    p{
        font-size: 20px;
    }